.parent{
    width: 75%;
    height: 600px;
    border: 1px solid white;
    background-color: rgb(237, 234, 241);
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-column-gap:10px;
    grid-row-gap:10px;
    padding: 10px;
    align-content: center;

}
.child{
    
    background-color: rgb(38, 153, 241);
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.parent>:nth-child(1){
    grid-row: 1/3;
}
.parent>:nth-child(8){
    grid-row: 3/5;
}
.parent>:nth-child(7){
    grid-row: 2/5;
    grid-column: 5/6;
}

.parent>:nth-child(2){
    grid-column: 2/4;
}

.parent>:nth-child(3){
    grid-column: 4/6;
}

.parent>:nth-child(5){
    grid-column: 3/5;
}

.parent>:nth-child(6){
    grid-column: 2/4;}


.parent>:nth-child(4),.parent>:nth-child(5){
    grid-row: 2/4;
}


